body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: red;
}



#cal {
	font-family: Arial, sans-serif;
	background-color: purple;
	border-radius: 15px;
	max-width: 500px;
	overflow: hidden;

}

#dis {

	width: 100%;
	padding: 20px;
	font-size: 5rem;
	text-align: left;
	border: none;
	background-color: lightgreen;
	color: black;

}




#keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr) ;
	gap: 10px;
	padding: 25px;
}



button {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: none;
	background-color: orange;
	color: darkgreen;
	font-size: 3rem;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background-color: darkblue;
	color: white;
}

button:active {
	background-color: orangered;
}

.ope-btn {
	background-color: indigo;
	color: white;
}

.ope-btn:hover {
	background-color: orchid;
	color: white;
}

.ope-btn:active {
	background-color: darkorchid;
	color: white;
}